# Ignore everything by default
*

# Except deployment files
!README.md
!INSTALLATION_GUIDE.md
!RELEASE_NOTES.md
!VERSION.md
!LICENSE
!.gitignore
!bcu-test-generator-pro.vsix
!bcu-test-generator-pro-*.vsix
